USE [master]
GO
/****** Object:  Database [BookstoreDB]    Script Date: 10/10/2022 10:52:11 AM ******/
CREATE DATABASE [BookstoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookstoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLDEV19\MSSQL\DATA\BookstoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookstoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLDEV19\MSSQL\DATA\BookstoreDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookstoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookstoreDB]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 10/10/2022 10:52:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 10/10/2022 10:52:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Number_of_page] [int] NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[Category_id] [int] NOT NULL,
	[Author_id] [int] NOT NULL,
	[Publisher_id] [int] NOT NULL,
	[Selling_price] [decimal](19, 4) NULL,
	[Cost_price] [decimal](19, 4) NULL,
	[Barcode] [varchar](100) NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/10/2022 10:52:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10/10/2022 10:52:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Phone_number] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Address] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 10/10/2022 10:52:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Role] [varchar](50) NOT NULL,
	[DOB] [datetime] NOT NULL,
	[Phone_number] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Address] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flash_sale]    Script Date: 10/10/2022 10:52:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flash_sale](
	[Id] [int] NOT NULL,
	[Discount] [tinyint] NULL,
	[Start_date] [datetime] NULL,
	[End_date] [datetime] NULL,
	[Book_id] [int] NULL,
 CONSTRAINT [PK_Flash_sale] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[frmReports]    Script Date: 10/10/2022 10:52:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[frmReports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_frmReports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 10/10/2022 10:52:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Date_of_publishing] [datetime] NULL,
 CONSTRAINT [PK_Publishers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase_detail]    Script Date: 10/10/2022 10:52:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase_detail](
	[Id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Book_id] [int] NULL,
	[Total_price] [decimal](19, 4) NOT NULL,
	[Purchase_order_Id] [int] NULL,
 CONSTRAINT [PK_Purchase_detail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase_order]    Script Date: 10/10/2022 10:52:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase_order](
	[Id] [int] NOT NULL,
	[Total_price] [decimal](19, 4) NOT NULL,
	[Total_paid] [decimal](19, 4) NOT NULL,
	[Total_remain] [decimal](19, 4) NOT NULL,
	[Employee_id] [int] NOT NULL,
	[Supplier_id] [int] NOT NULL,
 CONSTRAINT [PK_Purchase_order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale_detail]    Script Date: 10/10/2022 10:52:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale_detail](
	[Id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Book_id] [int] NULL,
	[Total_price] [decimal](19, 4) NOT NULL,
	[Sale_id] [int] NULL,
 CONSTRAINT [PK_Sale_detail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 10/10/2022 10:52:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Id] [int] NOT NULL,
	[Total_price] [decimal](19, 4) NOT NULL,
	[Total_paid] [decimal](19, 4) NOT NULL,
	[Total_remain] [decimal](19, 4) NOT NULL,
	[Customer_id] [int] NOT NULL,
	[Employee_id] [int] NOT NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 10/10/2022 10:52:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[Id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Book_id] [int] NOT NULL,
 CONSTRAINT [PK_Stocks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 10/10/2022 10:52:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Phone_number] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Address] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 10/10/2022 10:52:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [nvarchar](128) NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
 CONSTRAINT [PK_sysdiagrams] PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Book__Author_id__4CA06362]    Script Date: 10/10/2022 10:52:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Book__Author_id__4CA06362] ON [dbo].[Books]
(
	[Author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Book__Category_i__4BAC3F29]    Script Date: 10/10/2022 10:52:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Book__Category_i__4BAC3F29] ON [dbo].[Books]
(
	[Category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Book__Publisher___4D94879B]    Script Date: 10/10/2022 10:52:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Book__Publisher___4D94879B] ON [dbo].[Books]
(
	[Publisher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Flash_sale_Book]    Script Date: 10/10/2022 10:52:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Flash_sale_Book] ON [dbo].[Flash_sale]
(
	[Book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Purchase___Book___534D60F1]    Script Date: 10/10/2022 10:52:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Purchase___Book___534D60F1] ON [dbo].[Purchase_detail]
(
	[Book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Purchase___Book___693CA210]    Script Date: 10/10/2022 10:52:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Purchase___Book___693CA210] ON [dbo].[Purchase_detail]
(
	[Purchase_order_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Purchase___Emplo__30F848ED]    Script Date: 10/10/2022 10:52:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Purchase___Emplo__30F848ED] ON [dbo].[Purchase_order]
(
	[Employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Purchase___Suppl__31EC6D26]    Script Date: 10/10/2022 10:52:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Purchase___Suppl__31EC6D26] ON [dbo].[Purchase_order]
(
	[Supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Sale_deta__Book___5070F446]    Script Date: 10/10/2022 10:52:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Sale_deta__Book___5070F446] ON [dbo].[Sale_detail]
(
	[Book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Sale_deta__Book___66603565]    Script Date: 10/10/2022 10:52:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Sale_deta__Book___66603565] ON [dbo].[Sale_detail]
(
	[Sale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Sale__Customer_i__2C3393D0]    Script Date: 10/10/2022 10:52:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Sale__Customer_i__2C3393D0] ON [dbo].[Sales]
(
	[Customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Sale__Employee_i__2D27B809]    Script Date: 10/10/2022 10:52:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Sale__Employee_i__2D27B809] ON [dbo].[Sales]
(
	[Employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Stock__Book_id__0E6E26BF]    Script Date: 10/10/2022 10:52:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Stock__Book_id__0E6E26BF] ON [dbo].[Stocks]
(
	[Book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK__Book__Author_id__4CA06362] FOREIGN KEY([Author_id])
REFERENCES [dbo].[Authors] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK__Book__Author_id__4CA06362]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK__Book__Category_i__4BAC3F29] FOREIGN KEY([Category_id])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK__Book__Category_i__4BAC3F29]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK__Book__Publisher___4D94879B] FOREIGN KEY([Publisher_id])
REFERENCES [dbo].[Publishers] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK__Book__Publisher___4D94879B]
GO
ALTER TABLE [dbo].[Flash_sale]  WITH CHECK ADD  CONSTRAINT [FK_Flash_sale_Book] FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[Flash_sale] CHECK CONSTRAINT [FK_Flash_sale_Book]
GO
ALTER TABLE [dbo].[Purchase_detail]  WITH CHECK ADD  CONSTRAINT [FK__Purchase___Book___534D60F1] FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[Purchase_detail] CHECK CONSTRAINT [FK__Purchase___Book___534D60F1]
GO
ALTER TABLE [dbo].[Purchase_detail]  WITH CHECK ADD  CONSTRAINT [FK__Purchase___Book___693CA210] FOREIGN KEY([Purchase_order_Id])
REFERENCES [dbo].[Purchase_order] ([Id])
GO
ALTER TABLE [dbo].[Purchase_detail] CHECK CONSTRAINT [FK__Purchase___Book___693CA210]
GO
ALTER TABLE [dbo].[Purchase_order]  WITH CHECK ADD  CONSTRAINT [FK__Purchase___Emplo__30F848ED] FOREIGN KEY([Employee_id])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Purchase_order] CHECK CONSTRAINT [FK__Purchase___Emplo__30F848ED]
GO
ALTER TABLE [dbo].[Purchase_order]  WITH CHECK ADD  CONSTRAINT [FK__Purchase___Suppl__31EC6D26] FOREIGN KEY([Supplier_id])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[Purchase_order] CHECK CONSTRAINT [FK__Purchase___Suppl__31EC6D26]
GO
ALTER TABLE [dbo].[Sale_detail]  WITH CHECK ADD  CONSTRAINT [FK__Sale_deta__Book___5070F446] FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[Sale_detail] CHECK CONSTRAINT [FK__Sale_deta__Book___5070F446]
GO
ALTER TABLE [dbo].[Sale_detail]  WITH CHECK ADD  CONSTRAINT [FK__Sale_deta__Book___66603565] FOREIGN KEY([Sale_id])
REFERENCES [dbo].[Sales] ([Id])
GO
ALTER TABLE [dbo].[Sale_detail] CHECK CONSTRAINT [FK__Sale_deta__Book___66603565]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK__Sale__Customer_i__2C3393D0] FOREIGN KEY([Customer_id])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK__Sale__Customer_i__2C3393D0]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK__Sale__Employee_i__2D27B809] FOREIGN KEY([Employee_id])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK__Sale__Employee_i__2D27B809]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [FK__Stock__Book_id__0E6E26BF] FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [FK__Stock__Book_id__0E6E26BF]
GO
USE [master]
GO
